html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/background.jpg");
  color: #000706;
}

p, li, h1, a {
  visibility: hidden;
}

.wf-bebasneue-n4-active p,
.wf-bebasneue-n4-active li,
.wf-bebasneue-n4-active h1,
.wf-bebasneue-n4-active a {
  visibility: visible;
}

p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 20px 0;
}

.nav-header, .center {
  width: 1028px;
  margin: 0 auto;
}

main {
  min-height: 70vh;
}

/*   TOP NAVIGATIE    */
.nav-header {
  margin-top: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/logo.png");
  display: block;
  width: 160px;
  height: 158px;
}

.logo > span {
  display: none;
}

.nav-bar li {
  display: inline;
  font-family: "Bebas_neue", helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
}

.nav-bar a {
  text-decoration: none;
  color: #b70d04;
  padding: 10px 20px;
}

.selected, .nav-bar a:hover {
  border-bottom: 2px solid #b70d04;
}

/*   HOME   */
.intro {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/landschap.png");
  height: 460px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -70px;
}

.artisanaal {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/artisanaal.png");
  width: 520px;
  height: 78px;
  position: relative;
  left: 430px;
  top: 260px;
}

.artisanaal span {
  display: none;
}

.lees_meer {
  margin: 0 auto;
  display: block;
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/lees_meer.png");
  width: 72px;
  height: 31px;
  position: relative;
  top: 390px;
}

.lees_meer > span {
  display: none;
}

.meer_info {
  width: 700px;
  /*text-align: center;*/
  padding: 90px 0;
  margin: 0 auto;
}

.erkend_streekproduct, .wandelbos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.erkend_streekproduct {
  margin-top: -60px;
}

.erkend_streekproduct p {
  margin-left: -40px;
}

.erkend_streekproduct img {
  margin-left: -70px;
}

.wandelbos {
  margin-top: -105px;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.wandelbos img {
  margin-right: -120px;
}

.wandelbos p {
  margin-right: -40px;
}

.kaasmakerij {
  width: 600px;
  margin: 0 auto 50px auto;
}

.kaasmakerij div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.kaasmakerij header {
  margin-left: 60px;
}

.kaasmakerij img {
  margin-top: -60px;
  margin-left: -100px;
}

.echte_kaasmakerij {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/1vande3.png");
  width: 304px;
  height: 235px;
}

.echte_kaasmakerij > span {
  display: none;
}

.ontdek {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/interactief.png");
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 67px;
  margin-left: 200px;
  margin-top: -30px;
}

.ontdek > span {
  display: none;
}

.recepten {
  background: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/onderkant.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  padding: 100px 0;
}

.recepten > header {
  width: 1028px;
  padding-top: 100px;
  padding-left: 400px;
}

.elke_moment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 56px;
}

.elke_moment h1 {
  margin-right: 200px;
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/elke_moment.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 362px;
  height: 80px;
}

.elke_moment h1 > span {
  display: none;
}

.bekijk_recepten {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/bekijk_alle.png");
  width: 124px;
  height: 64px;
}

.bekijk_recepten span {
  display: none;
}

.recept-container {
  margin: 0 auto;
  width: 875px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.recept {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/dot.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 294px;
  width: 294px;
  padding: 60px 0 0 0px;
}

.recept > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: "Bebas_neue", helvetica, sans-serif;
  font-size: 3.2em;
  color: #01453a;
}

.recept h1 {
  z-index: 2;
  position: relative;
  left: 40px;
}

.recept p {
  width: 200px;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0 auto;
}

.recept img {
  opacity: .7;
}

.recept a {
  display: block;
  color: #b70d04;
}

/*   KAASTIPS   */
/*   KAASPROCES   */
canvas {
  margin: -45px auto 110px auto;
}

/*   RECEPTEN   */
.klaarmaken {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/klaarmaken.png");
  width: 555px;
  height: 371px;
  margin: 50px auto;
}

.klaarmaken span {
  display: none;
}

.recept-container-big {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 50px 0;
}

.recept-title {
  font-size: 4em;
  font-family: "Bebas_neue", helvetica, sans-serif;
  width: 380px;
  font-weight: bold;
  color: #471c23;
  margin-bottom: 20px;
}

.recept-item > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 125px;
  height: 300px;
}

.recept-item > header img {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.recept-item > header div {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: -40px;
}

.recept-item > header a {
  font-size: 1.4em;
  font-weight: bold;
  color: #471c23;
}

.recept-detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: -40px 0 40px 0;
}

.recept-detail h1 {
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: underline;
}

.recept-detail ul {
  margin: 20px 0;
}

.recept-detail li {
  font-size: 1.4em;
  line-height: 1.4em;
}

.hide {
  height: 0;
  overflow: hidden;
}

.mini-info {
  font-size: 1.4em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 380px;
  margin-top: 20px;
  list-style-position: inside;
}

.bereiding {
  /*flex-grow: 2;*/
  width: 400px;
  margin: 0 100px 0 60px;
}

/*   VERKOOPPUNTEN   */
.verkooppunten {
  width: 1028px;
  margin: 0 auto;
}

.verkoop-header {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/verkoop_header.png");
  margin: 20px auto;
  width: 447px;
  height: 447px;
}

.verkoop-header span {
  display: none;
}

.verkooppunt {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*clear: both;*/
}

.verkooppunt img {
  margin-top: -100px;
}

.verkooppunt span {
  display: none;
}

.verkooppunt li {
  font-size: 1.4em;
  margin: 20px;
}

.verkooppunt a {
  color: #000706;
}

.postel div {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.postel img {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.koningshoeven div {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.koningshoeven img {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.colruyt {
  margin-top: -100px;
  margin-bottom: 100px;
}

.postel h1 {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/postel_txt.png");
  width: 282px;
  height: 53px;
}

.averbode h1 {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/averbode_txt.png");
  width: 286px;
  height: 25px;
}

.koningshoeven h1 {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/koningshoeven_txt.png");
  width: 406px;
  height: 25px;
}

.colruyt h1 {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/colruyt_txt.png");
  width: 226px;
  height: 25px;
}

.image-list {
  background-repeat: no-repeat;
  line-height: 30px;
  padding-left: 30px;
}

.plaats {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/plaats.png");
}

.klok {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/klok.png");
}

.telefoon {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/telefoon.png");
}

.kok {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/kok.png");
}

.persoon {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/persoon.png");
}

/*   FOOTER   */
footer {
  width: 100%;
  height: 100px;
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/background.jpg");
  background-color: #02858a;
  background-blend-mode: multiply;
  background-size: cover;
}

.streekproduct {
  background-image: url("/elise.van.oosten/20152016/MAIII/STREEKPRODUCT/assets/img/streekproduct.png");
  display: block;
  width: 137px;
  height: 137px;
  opacity: 1;
  position: relative;
  top: -70px;
  margin: 0 auto;
}

.streekproduct > span {
  display: none;
}
