html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("/assets/img/background.jpg");
  background-size: contain;
  color: #000706;
}

p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 20px 0;
}

.nav-header, .center {
  width: 1028px;
  margin: 0 auto;
}

main {
  min-height: 70vh;
}

/*   TOP NAVIGATIE    */
.nav-header {
  margin-top: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  background-image: url("/assets/img/logo.png");
  display: block;
  width: 160px;
  height: 158px;
}

.logo > span {
  display: none;
}

.nav-bar li {
  display: inline;
  font-family: "bebas neue", helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
}

.nav-bar a {
  text-decoration: none;
  color: #b70d04;
  padding: 10px 20px;
}

.selected, .nav-bar a:hover {
  border-bottom: 2px solid #b70d04;
}

/*   HOME   */
.intro {
  background-image: url("/assets/img/landschap.png");
  height: 460px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -70px;
}

.artisanaal {
  background-image: url("/assets/img/artisanaal.png");
  width: 520px;
  height: 78px;
  position: relative;
  left: 430px;
  top: 260px;
}

.artisanaal span {
  display: none;
}

.lees_meer {
  margin: 0 auto;
  display: block;
  background-image: url("/assets/img/lees_meer.png");
  width: 72px;
  height: 31px;
  position: relative;
  top: 390px;
}

.lees_meer > span {
  display: none;
}

.meer_info {
  width: 700px;
  /*text-align: center;*/
  padding: 90px 0;
  margin: 0 auto;
}

.erkend_streekproduct, .wandelbos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.erkend_streekproduct {
  margin-top: -60px;
}

.erkend_streekproduct p {
  margin-left: -40px;
}

.erkend_streekproduct img {
  margin-left: -70px;
}

.wandelbos {
  margin-top: -105px;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.wandelbos img {
  margin-right: -120px;
}

.wandelbos p {
  margin-right: -40px;
}

.kaasmakerij {
  width: 600px;
  margin: 0 auto;
}

.kaasmakerij div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.echte_kaasmakerij {
  background-image: url("/assets/img/1vande3.png");
  width: 304px;
  height: 235px;
  /*float: left;*/
}

.echte_kaasmakerij > span {
  display: none;
}

/*.pater_kaas{
	position: relative;
    left: -100px;
    top: -45px;
}*/
.ontdek {
  background-image: url("/assets/img/interactief.png");
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 67px;
  /*position: relative;*/
  /*left: 90px;*/
  /*top: -30px;*/
}

.ontdek > span {
  display: none;
}

.recepten {
  background: url("/assets/img/onderkant.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  padding: 100px 0;
}

.recepten > header {
  width: 1028px;
  padding-top: 100px;
  padding-left: 400px;
}

.elke_moment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 56px;
}

.elke_moment h1 {
  margin-right: 200px;
  background-image: url("/assets/img/elke_moment.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 362px;
  height: 80px;
}

.elke_moment h1 > span {
  display: none;
}

.bekijk_recepten {
  background-image: url("/assets/img/bekijk_alle.png");
  width: 124px;
  height: 64px;
}

.bekijk_recepten span {
  display: none;
}

.recept-container {
  margin: 0 auto;
  width: 875px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.recept {
  background-image: url("/assets/img/dot.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 294px;
  width: 294px;
  padding: 60px 0 0 0px;
}

.recept > header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: "bebas neue", helvetica, sans-serif;
  font-size: 3.2em;
  color: #01453a;
}

.recept h1 {
  z-index: 2;
  position: relative;
  left: 40px;
}

.recept p {
  width: 200px;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0 auto;
}

.recept img {
  opacity: .7;
}

.recept a {
  display: block;
  color: #b70d04;
}

/*   KAASTIPS   */
/*   KAASPROCES   */
canvas {
  margin: 0 auto 110px auto;
}

/*   RECEPTEN   */
.klaarmaken {
  background-image: url("/assets/img/klaarmaken.png");
  width: 555px;
  height: 371px;
  margin: 0 auto;
}

.klaarmaken span {
  display: none;
}

.recept-container-big {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*justify-content: center;*/
  margin: 0 auto;
}

.recept-container-big article {
  /*display: flex;*/
  /*flex-direction: row-reverse;*/
  /*align-items: center;*/
}

.recept-title {
  font-size: 3em;
  font-family: "bebas neue", helvetica, sans-serif;
  width: 300px;
  font-weight: bold;
}

.recept-item {
  /*display: flex;
	justify-content: flex-end;*/
}

.recept-item header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 250px;
}

.recept-item header img {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.recept-item header div {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.recept-detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.recept-detail h1 {
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: underline;
  /*margin-bottom: 20px;*/
}

.recept-detail ul {
  margin: 20px 0;
}

.recept-detail li {
  font-size: 1.4em;
  line-height: 1.4em;
}

.mini-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 397px;
}

.mini-info li {
  /*float: left;*/
  margin-right: 20px;
}

/*   VERKOOPPUNTEN   */
.verkooppunten {
  width: 1028px;
  margin: 0 auto;
}

.verkoop-header {
  background-image: url("/assets/img/verkoop_header.png");
  margin: 0 auto;
  width: 447px;
  height: 447px;
}

.verkoop-header span {
  display: none;
}

.links {
  float: left;
}

.rechts {
  float: right;
}

.verkooppunt {
  clear: both;
}

.verkooppunt img {
  position: relative;
  top: -140px;
}

.verkooppunt span {
  display: none;
}

.verkooppunt li {
  font-size: 1.4em;
  margin: 20px;
}

.verkooppunt a {
  color: #000706;
}

.nextline {
  padding-left: 42px;
}

.postel h1 {
  background-image: url("/assets/img/postel_txt.png");
  width: 282px;
  height: 53px;
}

.averbode h1 {
  background-image: url("/assets/img/averbode_txt.png");
  width: 286px;
  height: 25px;
}

.koningshoeven h1 {
  background-image: url("/assets/img/koningshoeven_txt.png");
  width: 406px;
  height: 25px;
}

.colruyt h1 {
  background-image: url("/assets/img/colruyt_txt.png");
  width: 226px;
  height: 25px;
}

.plaats {
  list-style-image: url("/assets/img/plaats.png");
}

.klok {
  list-style-image: url("/assets/img/klok.png");
}

.telefoon {
  list-style-image: url("/assets/img/telefoon.png");
}

.kok {
  list-style-image: url("/assets/img/kok.png");
}

.persoon {
  list-style-image: url("/assets/img/persoon.png");
}

/*   FOOTER   */
footer {
  width: 100%;
  height: 100px;
  background-image: url("/assets/img/background.jpg");
  background-color: #02858a;
  background-blend-mode: multiply;
  background-size: cover;
}

.streekproduct {
  background-image: url("/assets/img/streekproduct.png");
  display: block;
  width: 137px;
  height: 137px;
  opacity: 1;
  position: relative;
  top: -70px;
  margin: 0 auto;
}

.streekproduct > span {
  display: none;
}
