html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("/assets/img/background.jpg");
  background-size: contain;
}

.nav-header, .center {
  width: 1028px;
  margin: 0 auto;
}

main {
  min-height: 70vh;
}

/*   TOP NAVIGATIE    */
.nav-header {
  margin-top: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  background-image: url("/assets/img/logo.png");
  display: block;
  width: 160px;
  height: 158px;
}

.logo > span {
  display: none;
}

.nav-bar li {
  display: inline;
  font-family: "bebas", helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.9em;
}

.nav-bar a {
  text-decoration: none;
  color: #b70d04;
  padding: 10px 20px;
}

.selected, .nav-bar a:hover {
  border-bottom: 2px solid #b70d04;
}

/*   HOME   */
.intro {
  background-image: url("/assets/img/landschap.png");
  height: 460px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -70px;
}

.artisanaal {
  background-image: url("/assets/img/artisanaal.png");
  width: 520px;
  height: 78px;
  position: relative;
  left: 430px;
  top: 260px;
}

.artisanaal span {
  display: none;
}

.lees_meer {
  margin: 0 auto;
  display: block;
  background-image: url("/assets/img/lees_meer.png");
  width: 72px;
  height: 31px;
  position: relative;
  top: 390px;
}

.lees_meer > span {
  display: none;
}

#kaasmakerij {
  margin: 50px 0 0 300px;
}

.echte_kaasmakerij {
  background-image: url("/assets/img/1vande3.png");
  width: 304px;
  height: 235px;
  float: left;
}

.echte_kaasmakerij > span {
  display: none;
}

.pater_kaas {
  position: relative;
  left: -100px;
  top: -45px;
}

.ontdek {
  background-image: url("/assets/img/interactief.png");
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 67px;
  position: relative;
  left: 90px;
  top: -30px;
}

.ontdek > span {
  display: none;
}

.recepten {
  background: url("/assets/img/onderkant.png");
  height: 400px;
}

/*   KAASTIPS   */
/*   KAASPROCES   */
canvas {
  margin: 0 auto 110px auto;
}

/*   RECEPTEN   */
/*   VERKOOPPUNTEN   */
/*   FOOTER   */
footer {
  width: 100%;
  height: 100px;
  background-image: url("/assets/img/background.jpg");
  background-color: #02858a;
  background-blend-mode: multiply;
  background-size: cover;
}

.streekproduct {
  background-image: url("/assets/img/streekproduct.png");
  display: block;
  width: 137px;
  height: 137px;
  opacity: 1;
  position: relative;
  top: -70px;
  margin: 0 auto;
}

.streekproduct > span {
  display: none;
}

canvas {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  box-shadow: 0px 0px 77px #CFAB8A;
  border-radius: 4px;
}
